﻿<%@ Page Language="C#" MasterPageFile="~/Site.Master"  AutoEventWireup="true" CodeBehind="Device.aspx.cs" Inherits="lee_oMonitoring.Interface.Device" %>


<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <asp:DropDownList ID="DropDownList1" runat="server">
    </asp:DropDownList>
    <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
    <asp:Button ID="Button1" runat="server" Text="Add" OnClick="Button1_Click"/>
    <asp:GridView ID="GridView1" runat="server">
    </asp:GridView>
    <div>
        Devices</div>
    <asp:BulletedList ID="BulletedList1" runat="server"></asp:BulletedList>
</asp:Content>
