﻿<%@ Page Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Room.aspx.cs" Inherits="lee_oMonitoring.Interface.Room" %>


<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <asp:Label ID="Label1" runat="server" Text="Rooms"></asp:Label>
    <asp:BulletedList ID="BulletedList1" runat="server">
    </asp:BulletedList>
    <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
    <asp:Button ID="Button1" runat="server" Text="Add" OnClick="Button1_Click" />
</asp:Content>